body {
  font-family: 'monospace';
  background: black;
  color: white;
  font-size: 20px;
}

#index {
  /* max-width: 960px; */
  margin: auto;
}

legend {
  font-weight: bold;
}

h1, a {
  color: #00d800;
}

fieldset strong {
  background: #00d800;
  color: black;
}

#marquee {
  overflow: hidden;
  width: 923px;
  white-space: nowrap;
}

#marquee span {
  display: inline-block;
  font-size: 44px;
  color: #00d800;
}

#marquee p {
  margin: 0;
}

#marquee span.first {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-100%);
  }
}

#index.flip {
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}
